<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FastTradeBLL.Properties.Settings.FastTradeConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Programming\Kursovoy\Fasttrade\FastTradeWEB\App_Data\FastTrade.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>