<div class="row">
    <p >
        <h4 class="text-center">
            Объявление успешно удалено!
        </h4> 
    </p>
</div>
<br />
<br />
<br />
<br />

<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
