

@{
    ViewBag.Title = "Вход в систему";
    Layout = null;
   
}
<p>
    <h3>Вход пользователя @ViewBag.User прошел успешно! <br /> Перейдите на @Html.ActionLink("Главную", "Index", "User") страницу.</h3>
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script src="~/Scripts/myScript.js"></script>